*{
	margin: 0;
	padding: 0;
}
html, body{
	background-color: #7d8f55;
	min-height: 100%;
}
body{
	background-image: url('/img/panhandle-greenfade.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #111;
	color: rgba(20,20,20,0.8);
	font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
	line-height: 1.2;
	overflow: auto;
}

#container{
	width: 50vw;
	margin: 0 auto;
	background: #eee;
	background: rgba(255,255,255,0.5);
	min-height: 100%;
}

.header{
	text-align: center;
	padding: 1vw;
}
.header img{
	display: block;
	width: 10vw;
	margin: 0 auto;
	border-radius: 1vw;
}
.header h1,
.header h2{
	font-size: 4vw;
	line-height: 1;
}
.header h1{
	margin-top: 1vw;
}
.header h2{
	margin-top: 0.5vw;
	font-size: 2.5vw;
}


.projects{
	overflow: hidden;
	margin-top: 5vw;
}

.projects h3{
	margin: 1vw 0 3vw 0;
	font-size: 3vw;
	text-align: center;
}

.widerow{
	overflow: hidden;
	margin: 0 5vw;
}
.project{
	float: left;
	width: 20vw;
	height: 20vw;
	text-decoration: none;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-size: 2vw;
}
.project img{
	display: block;
	width: 12vw;
	margin: 0 auto;
	border-radius: 1vw;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.project b{
	margin-top: 0.5em;
	display: block;
}
.project i{
	display: block;
	font-style: normal;
}

@media (max-width: 800px) {

	.widerow{
		overflow: hidden;
		margin: 5vw;
	}
	.project{
		width: 40vw;
		height: 40vw;
		font-size: 3vw;
	}
	.project img{
		width: 28vw;
	}
}

@media (orientation:portrait) {
	#container{
		width: 80vw;
	}
	.header{
		padding: 3vw;
	}
	.header img{
		width: 20vw;
	}
	.header h1,
	.header h2{
		font-size: 8vw;
		line-height: 1;
	}
	.header h1{
		margin-top: 0.5em;
	}
	.header h2{
		margin-top: 0.5em;
		font-size: 5vw;
	}
	.widerow{
		overflow: hidden;
		margin: 5vw;
	}
	.project{
		width: 70vw;
		height: 70vw;
		font-size: 5vw;
	}
	.project img{
		width: 50vw;
	}

}



