*{
	margin: 0;
	padding: 0;
}
html,
body{
	height: 100%;
	min-height: 100%;
}
body{
	background: #fff;
	color: #111;
	color: rgba(20,20,20,0.9);
	font-family: "Dosis", sans-serif;
	line-height: 1.2;
}
a{
	color: #ddd;
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
a:hover,
a:active,
a:focus{
	color: #fff;
}

#background{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.vcard{
	background: #285a8c;
	background: rgba(40,90,140,0.8);
	color: #fff;
	font-size: 4vw;
	text-shadow: rgba(10,10,10,0.3) 1px 1px 1px;
	line-height: 1;
	overflow: hidden;
	position: relative;
	top: 5%;
	left: 5%;
	right: 5%;
	width: 90%;
}
.vcard .photo{
	float: left;
	margin: 5%;
	width: 25%;
}
.vcard h1{
	font-size: 9vw;
	line-height: 0.7;
	margin-top: 5%;
}
.vcard h2{
	font-size: 6vw;
	margin-top: 0.2em;
}
.vcard .adr{
	margin: 0.2em 0;
}
.vcard a:hover{
	border-bottom: 1px solid #fff;
}
.twitter,.flickr{
	float: left;
	margin: 2em;
}


@media (min-width:740px) {

	.vcard{
		font-size: 1em;
		top: 36px;
		left: 36px;
		right: auto;
		width: 640px;
	}
	.vcard .photo{
		margin: 33px;
		width: 166px;
	}
	.vcard h1{
		font-size: 67px;
		margin-top: 33px;
	}
	.vcard h2{
		font-size: 44px;
		margin-top: 9px;
	}
	.vcard .adr{
		margin: 6px 0;
		font-size: 30px;
	}
	.vcard .email{
		font-size: 30px;
	}
}
